@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset="cyrillic');
*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
}
body{
  background-image: url('faqimg.jpg');
    width: 800px;
    height: 1000px;
}
.faq-block{
  padding-bottom: 25px;
}
#faq{
  width: 350px;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  margin:0 auto;
  margin-top: 10vh;
}
label{
  padding: 5px 20px;
  position: relative;
  z-index:20;
  display:block;
  height: 40px;
  cursor: pointer;
  color:#fff;
  border-radius: 3px;
  line-height: 40px;
  font-size: 16px;
  background-color: #81a2ff;

}
label:hover{
  background-color: #5076d2;
}
input:checked + label,
input:checked + label:hover{
  background-color: #5076d2;
  color:#fff;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
input {
  display: none;
}
article{
  background-color: #81a2ff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-top:-2px;
  overflow: hidden;
  height: 0;
  position: relative;
  z-index:10;
  transition: height 0.3s ease;
  display: flex;
  align-items: center;

}
 p{
   color: #fff;;
   line-height: 23px;
   font-size: 16px;
   padding: 20px;"
 }
  input:checked ~ article{
    transition: height 0.3s ease;
  }
  input:checked ~ article.ac-small{
    height: 130px;

  }
  input:checked ~ article.ac-medium{
    height: 260px;

  }
  input:checked ~ article.ac-large{
    height: 390px;

  }
